@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700&display=swap');
@import 'tailwindcss';

@theme {
  --font-main: 'EB Garamond', serif;
}

.down-arrow::before {
  @apply absolute w-[64px] pointer-events-none;
  content: '';
  background: url('/src/assets/ui/arrow-down-glow.png') no-repeat bottom;
  bottom: 68px; /* Aligns with target node's top */
  height: var(--arrow-height);
}
.down-arrow:not(.glow)::before {
  @apply grayscale;
}
.down-arrow::after {
  @apply absolute w-[64px] h-[21px] z-[30] pointer-events-none md:bottom-[61.75px] bottom-[55px];
  content: '';
  background: url('/src/assets/ui/arrow-down-head-glow.png') no-repeat bottom;
}
.down-arrow:not(.glow)::after {
  @apply grayscale;
}
.down-arrow.glow.disabled::before,
.down-arrow.glow.disabled::after {
  @apply grayscale-0; /* Override disabled styling for glowing arrows */
}